html, body{
    margin:0;
    height:100%;
    width:100%;
    text-align:center;
    font-family: "Shadows Into Light", sans-serif;
}
h1,p {
    margin:0;
    
}
.square{
    margin:0;
    min-width:5vh; 
    padding-bottom:5vh; 
    border:.01vh dotted; /*takes up pixels too*/
}

#container{
    display:inline-block;
    border:10px groove;
    /* justify-content:center; */
}

#resetContainer,
.sizeContainer,
.row{
    display:flex;
    justify-content:center;
}

#reset{
    padding:3px 10px;
    margin:8px 0;
    text-align: center;
    width:80%;
}

.sizeContainer{
    gap:10px;
    margin-bottom:10px;
}