html, body{
    margin:0;
    height:100%;
    width:100%;
    text-align:center;
    font-family: "Shadows Into Light", sans-serif;
}
p {
    margin:0;
}
h1{
    margin-bottom:0;
}
.square{
    margin:0;
    min-width:5vh; 
    padding-bottom:5vh; 
    border:0;
}

#container{
    display:inline-block;
    border:10px groove;
}

#resetContainer,
.sizeContainer,
.row{
    display:flex;
    justify-content:center;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:auto;
    height:50px;
    width:100%;
}

.sizeContainer{
    gap: 20px;
}

#reset, #sizeButton{
    padding: 3px 10px;
}